@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Solitreo&display=swap");

html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Solitreo", cursive; */
}
